<%@ CodeTemplate Language="C#" TargetLanguage="C#" Inherits="CodeSmith.BaseTemplates.OutputFileCodeTemplate" ResponseEncoding="utf-8" Description="Generates a very simple business object." %>
<%@ Property Name="NameSpace" Type="String" Category="Context" Default="Com.Sy" Description="The namespace to use for this class" %>
<%@ Property Name="SqlName" Type="String" Category="Context" Default="<%=SqlName %>" Description="Sql Type Name. (MySql,SQLite,MsSql)" %>
<%@ Assembly Name="SchemaExplorer" %>
<%@ Assembly Name="System.Data" %>
<%@ Import Namespace="SchemaExplorer" %>
<%@ Import Namespace="System.Data" %>
<%@ Import Namespace="System.IO" %>
<%@ Assembly Name="CodeSmith.BaseTemplates" %>
<%@ Assembly Name="CodeSmith.CustomProperties" %>
<%@ Import Namespace="CodeSmith.CustomProperties" %>
<%@ Import Namespace="System.Windows.Forms.Design"%>
<%@ Assembly Name="System.Design" %>
<script runat="template">
#region GetSqlNameSpace
public string GetSqlNameSpace()
{
    string result = string.Empty;
    if(SqlName.ToLower() == "MySql".ToLower()){
        result = "using MySql.Data.MySqlClient;";
    }else if(SqlName.ToLower() == "SQLite".ToLower()){
        result = "using System.Data.SQLite;";
    }else if(SqlName.ToLower() == "MsSql"){
        result = "using System.Data.SqlClient;";
    }
    return result;
}
#endregion
</script>
using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.Data;
using System.Reflection;
<%=GetSqlNameSpace() %>

namespace <%= NameSpace %>
{
    public static class <%=SqlName %>Helper
    {
        #region 变量
        internal static <%=SqlName %>Connection _<%=SqlName %>Connection = null;
        #endregion

        #region 属性
        /// <summary>
        /// 返回一个打开状态的<%=SqlName %>连接对象
        /// 单例设计模式
        /// </summary>
        public static <%=SqlName %>Connection <%=SqlName %>Connection
        {
            get
            {
                if (<%=SqlName %>Helper._<%=SqlName %>Connection == null)
                {
                    <%=SqlName %>Helper._<%=SqlName %>Connection = new <%=SqlName %>Connection();
                }
                if (string.IsNullOrWhiteSpace(<%=SqlName %>Helper._<%=SqlName %>Connection.ConnectionString))
                {
                    <%=SqlName %>Helper._<%=SqlName %>Connection.ConnectionString = Conn.ConnectionString;
                }
                if (<%=SqlName %>Helper._<%=SqlName %>Connection.State != ConnectionState.Open)
                    <%=SqlName %>Helper._<%=SqlName %>Connection.Open();
                return <%=SqlName %>Helper._<%=SqlName %>Connection;
            }
            set { <%=SqlName %>Helper._<%=SqlName %>Connection = value; }
        }
        #endregion

        #region 方法
        /// <summary>
        /// 将一条查询记录创建为一个实体类对象
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="dr"></param>
        /// <returns></returns>
        private static T ExecuteDataReader<T>(IDataReader dr)
        {
            T obj = default(T);
            try
            {
                obj = Activator.CreateInstance<T>();
                Type type = typeof(T);
                PropertyInfo[] properties = type.GetProperties();
                int fieldCount = dr.FieldCount;
                foreach (PropertyInfo propertyInfo in properties)
                {
                    string propertyName = propertyInfo.Name;
                    for (int i = 0; i < fieldCount; i++)
                    {
                        string fieldName = dr.GetName(i);
                        if (string.Compare(propertyName, fieldName, true) == 0)
                        {
                            object value = dr.GetValue(i);
                            if (value != null && value != DBNull.Value)
                            {
                                propertyInfo.SetValue(obj, value, null);
                            }
                            break;
                        }
                    }
                }
            }
            catch (<%=SqlName %>Exception ex)
            {
                throw ex;
            }
            return obj;
        }
        /// <summary>
        /// 返回符合条件查询结果的泛型集合
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="commandText"></param>
        /// <param name="array"></param>
        /// <returns></returns>
        public static List<T> ExecuteList<T>(string commandText, params <%=SqlName %>Parameter[] array)
        {
            List<T> lists = new List<T>();
            try
            {
                using (<%=SqlName %>Command cmd = new <%=SqlName %>Command(commandText, <%=SqlName %>Helper.<%=SqlName %>Connection))
                {
                    cmd.Parameters.AddRange(array);
                    using (<%=SqlName %>DataReader dr = cmd.ExecuteReader())
                    {
                        if (dr != null)
                        {
                            while (dr.Read())
                            {
                                T obj = ExecuteDataReader<T>(dr);
                                if (obj != null)
                                {
                                    lists.Add(obj);
                                }
                            }
                        }
                    }
                }
            }
            catch (<%=SqlName %>Exception ex)
            {
                throw ex;
            }

            return lists;
        }
        /// <summary>
        /// 返回符合条件查询结果的实体类对象
        /// </summary>
        /// <typeparam name="T"></typeparam>
        /// <param name="commandText"></param>
        /// <param name="array"></param>
        /// <returns></returns>
        public static T ExecuteEntity<T>(string commandText, params <%=SqlName %>Parameter[] array)
        {
            T obj = default(T);
            try
            {
                using (<%=SqlName %>Command cmd = new <%=SqlName %>Command(commandText, <%=SqlName %>Helper.<%=SqlName %>Connection))
                {
                    cmd.Parameters.AddRange(array);
                    using (<%=SqlName %>DataReader dr = cmd.ExecuteReader())
                    {
                        if (dr != null)
                        {
                            while (dr.Read())
                            {
                                obj = ExecuteDataReader<T>(dr);
                                break;
                            }
                        }
                    }
                }
            }
            catch (<%=SqlName %>Exception ex)
            {
                throw ex;
            }
            return obj;
        }
        /// <summary>
        /// 执行不查询操作数据库命令
        /// 不支持事务操作
        /// </summary>
        /// <param name="commandText"></param>
        /// <param name="array"></param>
        /// <returns></returns>
        public static int ExecuteNonQuery(string commandText, params <%=SqlName %>Parameter[] array)
        {
            int rowCount = 0;
            try
            {
                using (<%=SqlName %>Command cmd = new <%=SqlName %>Command(commandText, <%=SqlName %>Helper.<%=SqlName %>Connection))
                {
                    if (array != null && array.Length > 0)
                        cmd.Parameters.AddRange(array);
                    rowCount = cmd.ExecuteNonQuery();
                }
            }
            catch (<%=SqlName %>Exception ex)
            {
                throw ex;
            }
            return rowCount;
        }
        /// <summary>
        /// 执行不查询操作数据库命令
        /// 支持事务操作
        /// </summary>
        /// <param name="transaction"></param>
        /// <param name="commandText"></param>
        /// <param name="array"></param>
        /// <returns></returns>
        public static int ExecuteNonQuery(<%=SqlName %>Transaction transaction, string commandText, params <%=SqlName %>Parameter[] array)
        {
            int rowCount = 0;
            try
            {
                using (<%=SqlName %>Command cmd = new <%=SqlName %>Command(commandText, <%=SqlName %>Helper.<%=SqlName %>Connection, transaction))
                {
                    if (array != null && array.Length > 0)
                        cmd.Parameters.AddRange(array);
                    rowCount = cmd.ExecuteNonQuery();
                }
            }
            catch (<%=SqlName %>Exception ex)
            {
                throw ex;
            }
            return rowCount;

        }
        /// <summary>
        /// 执行聚合函数查询
        /// </summary>
        /// <param name="commandText"></param>
        /// <param name="array"></param>
        /// <returns></returns>
        public static int ExecuteScalar(string commandText, params <%=SqlName %>Parameter[] array)
        {
            int result = 0;
            try
            {
                using (<%=SqlName %>Command cmd = new <%=SqlName %>Command(commandText, <%=SqlName %>Helper.<%=SqlName %>Connection))
                {
                    if (array != null && array.Length > 0)
                        cmd.Parameters.AddRange(array);
                    object obj = cmd.ExecuteScalar();
                    if (obj != null)
                    {
                        Int32.TryParse(obj.ToString(), out result);
                    }
                }
            }
            catch (<%=SqlName %>Exception ex)
            {
                throw ex;
            }
            return result;
        }
        #endregion
    }
}